name: Playwright Tests (Playwright Docker image)

on:
  push:
    branches: [ main, github-actions ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble
    env:
       HTTP_USERNAME: ${{ secrets.HTTP_USERNAME }}
       HTTP_PASSWORD: ${{ secrets.HTTP_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run Playwright tests
        run: npx playwright test --project=e2e

      - name: Upload Playwright HTML report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 30
